amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
billiard==4.2.0
celery==5.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.2.1
cron-descriptor==1.4.3
cycler==0.12.1
decorator==4.4.2
defusedxml==0.7.1
Django==4.2.13
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-faker==0.2
django-timezone-field==6.1.0
fake-factory==9999.9.9
Faker==25.8.0
filelock==3.14.0
fonttools==4.53.0
fsspec==2024.6.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
importlib_resources==6.4.0
intel-openmp==2021.4.0
Jinja2==3.1.4
kiwisolver==1.4.5
kombu==5.3.7
MarkupSafe==2.1.5
matplotlib==3.9.0
mkl==2021.4.0
model-bakery==1.18.1
moviepy==1.0.3
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.82
packaging==24.1
pandas==2.2.2
pillow==10.3.0
proglog==0.1.10
prompt_toolkit==3.0.47
psutil==5.9.8
psycopg2==2.9.9
py-cpuinfo==9.0.0
pyparsing==3.1.2
python-crontab==3.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.5
requests==2.32.3
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
sqlparse==0.5.0
supervision==0.21.0
sympy==1.12.1
tbb==2021.12.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
typing_extensions==4.12.1
tzdata==2024.1
ultralytics==8.2.31
ultralytics-thop==0.2.8
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
zipp==3.19.2
